
*.swp
*.[Cc]ache
*.ilk
*.log
*.ncb
*.suo
*.user
*.userprefs
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.nlb
*.sbr
*.scc
*.vshost.*
*.pidb
*.dbmdl
*.dbproj.schemaview
*.pfx
*.publishsettings
node_modules/
bower_components/

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# NuGet Packages
*.nupkg
*.snupkg
nuget.exe

# Visual Studio
.vs/
.vscode/
*.sln.iml
*.csproj.user